{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!-- editionModal -->
    <div id="editionModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Edition content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edition</h4>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data" action="update_announce/" method="post">
              {% csrf_token %}

              <div class="field-wrapper">
                <p>
                  <label for="id_title">Title:</label>
                  <input name="title" required="" id="id_title" maxlength="100" type="text" value="{{ announce.title }}">
                </p>
                <p>
                  <label for="id_description">Description:</label>
                  <input name="description" required="" id="id_description" maxlength="100" type="text" value="{{ announce.description}}">
                </p>
                <p>
                  <label for="id_image">Image:</label>
                  <img src="{{ announce.image.url }}">
                  <input name="image" id="id_image" type="file" value="{{ announce.image }}">
                </p>
              </div>
              <input type="submit" value="Submit" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}
